/* Jumobtorn */
.jumbotron {
    background-image: url(img/bg.jpg);
    height: 540px;
    background-size: cover;
    width: auto;
    filter: brightness(50%);
    top: 200px;
}

.profile {
    border-radius: 100%;
    border: 5px solid rgb(39, 169, 255);
    width: 200px;
    height: auto;
    filter: drop-shadow(3px 3px 10px rgba(4, 4, 22, 0.3));
    right: 100px;
}
.title {
    width: 90%;
    color: white;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    line-height: 21px;
    animation: fadeIn 1s;
}
.porto {
    width: 100%;
    color: white;
    position: relative;
    top: 100px;
    left: 50%;
    text-align: center;
    display: block;
    background-color: #161f28;
    padding-top: 100px;
    transform: translate(-50%, -50%);
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .tombol-komis {
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background: linear-gradient(94.94deg, #0e7bf8 -1.76%, #64b0db 80.53%);
    border: 0px;
    font-size: 20px;
    position: relative;
    width: 240px;
    height: 40px;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
  }
.link-list{
    margin-top: 21px;
    align-items: center;
    transition: 0.5s;
}
.list-group {
    background: none;
}

.navbar{
    background-color: #161f28;
    position: sticky;
    display: block;
    width: 100%;
}
.navbar a {
    color: rgb(255, 255, 255);
    font-family: 'Lexend', sans-serif;
    transition: 0.5s;
    font-weight: bold;
}
.navbar a:hover {
    color: #0eb6f8;
    font-family: 'Lexend', sans-serif;
    transition: 0.5s;
    font-weight: bold;
}
body{
    background-color: #0eb6f8;
}
.tos{
    color:aliceblue;
}
.comis{
    color: aliceblue;
    text-align: center;
}

/*/cdesktop /*/
@media (min-width: 992px) { 
    .title {
        top: 50%;
    }
    .jumbotron {
            height: 100vh;
            min-height: 160px;
            width: 100%;
            position: relative;
            overflow-x: hidden;
            overflow-y: hidden;
            top: 0px;


    }
        .porto {
            width: 100%;
            color: white;
            position: relative;
            top: 160px;
            left: 50%;
            text-align: center;
            display: block;
            background-color: #151d26;
            padding-top: 100px;
            transform: translate(-50%, -50%);
        }
        .comis {
            width: 100%;
            color: white;
            position: relative;
            top: 100px;
            left: 50%;
            text-align: center;
            display: block;
            background-color: #151d26;
            padding-top: 100px;
            transform: translate(-50%, -50%);
        }
        .tos {
            width: 100%;
            color: white;
            position: relative;
            top: 100px;
            left: 50%;
            text-align: left;
            display: block;
            background-color: #151d26;
            padding-top: 100px;
            transform: translate(-50%, -50%);
        }
        .navbar {
            background-color: #161f28;
            top: 10%;
        }
    .embed-responsive-item{
        position: relative;
        height: 315px;
        width: 560px;
    }
}
